[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-bcrypt = "*"
mysqlclient = "*"
pymysql = "*"
pylint-flask = "*"
pylint = "*"
flask-jwt-extended = "*"
flask-mail = "*"
flask-pymongo = {extras = ["srv", "tls"],version = "*"}
flask-restx = "*"
pymongo = {extras = ["srv", "tls"],version = "*"}
cerberus = "*"

[requires]
python_version = "3.7"
