[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-restplus = "*"
flask-migrate = "*"
flask-script = "*"
flask-bcrypt = "*"
mysqlclient = "*"
pymysql = "*"
pylint-flask = "*"
pylint = "*"
flask-jwt-extended = "*"
flask-mail = "*"

[requires]
python_version = "3.7"
